<!--The content below is only a placeholder and can be replaced.-->
    Welcome to {{ title }}!

    
    <header id="header" class="header">
      <img src="../assets/logoC.png" alt="" id="imgLogo">
      <div class="header-right">
          <a class="active" href="index.html">INICIO</a>
          <a href="#contact">CONTACTO</a>
          <a href="#about">ACERCA DE</a>
      </div>
  </header>

  <!--conenido de jessica orozco------------------>
  <button type="button" onclick="notificar()" >Enviar Notificacion</button>
  <section id="listasos" class="listasos">
      <h3>Servicios de Asistencia</h3>
      <a href=""><img class="buscar"
              src="https://images.vexels.com/media/users/3/132066/isolated/preview/71646d7673e8847ab07b3b7e78928777-buscar-icono-de-c--rculo-by-vexels.png"
              title="Buscar"></a>
      <!-- <div class="bannersos">
      
      
  </div> -->
      <button onclick="ocultarlistasos()" class="btncerrar">X</button>
      <div id="sos" class="sos">

      </div>

  </section>
  <!------------------------------------------------>

  <div class="main row">

      <div class="bloque1">
          <!--MEDIDORES----------------------------------->

          <p>RIESGO DE </p>
          <h1 id="desastre">{{ desastre }}</h1>

          <link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600,800,900" rel="stylesheet"
              type="text/css">
          <div class="grupo1">
              <div class="grupo1-A">
                  <div id="contador1" class="horizontal"></div>
                  <h4 style="margin-top: 5%">TEMPERATURA</h4>
                  <p>FACTOR1</p>
              </div>

              <div class="grupo1-B">
                  <div id="contador2" class="horizontal"></div>
                  <h4 style="margin-top: 5%">RANGO DE RIESGO:</h4>
                  <h2 id="riesgo" class="horizontalINF">MODERADO</h2>
              </div>


              <div class="grupo1-A">
                  <div id="contador3" class="horizontal"></div>
                  <h4 style="margin-top: 5%">HUMEDAD</h4>
                  <p>FACTOR2</p>
              </div>

          </div>
          <hr style="width: 80%; margin-top: 2%;">
          <div class="grupo2">

              <div id="detalles" class="sidenav" style="margin-right: 10vh;">
                  <h3 style="margin-bottom: 15px;">DETALLES</h3>
                  <a>LUGAR:BOGOTA</a>
                  <a>COORD: 123123-213213</a>
                  <a>HORA: 10:15</a>
                  <a>FECHA: 12/12/18</a>
              </div>
              <div id="recomendaciones" class="sidenav" style="margin-left: 10vh;">
                  <h3 style="margin-bottom: 15px;">RECOMENDACIONES</h3>
                  <a>Conserve la calma</a>
                  <a>Mantengase alejado de la zona</a>
                  <a>Tenga listo un botiquin</a>
                  <a>Tenga a la mano los numeros de emergencia</a>
              </div>
          </div>

      </div>

      <!--MENU PANEL IZQUIERDO-->
      <div class="bloque2">

          <app-menu-izquierdo></app-menu-izquierdo>

      </div>

  </div>
  <footer>
      <img src="../assets/codeInkLogo.png" style="width: 8%;">
      CodeINK Team / All rights reserved / BICTIA 2019
  </footer>


  <!--
        NOTA:
        para el uso de los JAVASCRIPT que estan comentareados mas abajo
        aqui en angular solo funcionan si se invocan desde el archivo "angular.json"
  -->

  <!--COMPONENTES DE LAS BARRAS DE CARGA ANIMADAS-->
  <!-- These are probably out dated so you might want to use newest versions -->
  <!--<script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.5.6/dist/progressbar.js"></script>-->
        <!--<script src="js/progressbar.js"></script>-->
        <!--<script src="js/barras.js"></script>-->
  <!--codigo de jessica orozco-->
        <!--<script src="contenido.js"></script>-->
        <!--<script src="notificaciones.js"></script>-->


